@model User

@{
    ViewBag.Title = "Index";
}

<h2>@Model.UserName's Page</h2>
<p>Username: @Model.UserName</p>
<p>Email: @Model.Email</p>

<a href="/Tweet/Index">Create a new Tweet</a>
<br />
<a href="/User/logout">Logout</a>