@using Flutter.Models
@model ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<h2>@Model.UserName's Page</h2>



<ul>@foreach(var tweet in @Model.TweetList)
    {
        <li>@tweet.TweetField</li> 
        <p><a class="btn btn-default" href="http://localhost:51339/Tweet/ReTweet?tweetId=@tweet.Id">Retweet &raquo;</a></p>  
    }

    
</ul>
