@using Flutter.Models
@using SharpTwit

@model Tweet

<h2>Create New Tweet</h2>
<div class="form-class">
    @using (Html.BeginForm("Tweet", "Tweet"))
    {
        @Html.LabelFor(x => x.TweetField) @Html.TextBoxFor(x => x.TweetField)
        <br />
        <input type="submit" value="Create new tweet" />
    }
</div>

