@using Flutter.Models
@using SharpTwit

@model Tweet

<h2>Create New Tweet</h2>
<div class="form-class">
    @using (Html.BeginForm("Tweet", "Tweet"))
    {
        @Html.HiddenFor(x => x.UserId)
        @Html.Label("Tweet: ") @Html.TextBoxFor(x => x.TweetField)
        <br />
        <input class="button" type="submit" value="Create new tweet" />
    }
</div>
<br />
<a href="/User/Index">Return to user page</a>

