@import url('http://fonts.googleapis.com/css?family=Lora');
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


body {
    font-family: 'Open Sans', sans-serif;
    color: #005359;
    background-color: #4AAB79;
    /*background-image: url("../Content/images/foggy_birds.png");
    background-repeat: repeat;*/
}

a {
    color: #306DBA;
    text-decoration: none;
}

a.hover {
    color: #25916F;
    text-decoration: none;
}

.navbar-brand {
     font-family: Lora;
     font-size: 50px;
     font-weight:700;
     margin: 10px 0px;

}



.button {
    font-family: Lora;
    font-weight: 700;
    color: #D6E4FF;
    background: #428bca;
    margin: 20px 0px;
    border-radius: 7px;
    border-color: #00000;
    border-width: 0px;

}

.button:hover {
    background-color: #005359;
    font-family: Lora;
    font-weight: 700;
    color: #D6E4FF;
}



ul.nav {
    margin: 20px 0px 0px 0px;
    list-style: none;
    float: right;
    font-family: Lora;
    font-size: 20px;
}

ul.nav li {
    float: left;
    margin-right: 40px;
}

ul.nav li a {
    color: #1FA6BA;
    padding: 5px 5px 5px 5px;
}


.logMeOut {
    background-color: #590000;
    border-radius: 7px;
}


.logMeIn {
    color: #ffffff;
    border-radius: 7px;
    background-color: #428bca;
    border-color: #000000;
    border-width: 1px;
}



h1 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;

}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 800;
    margin: 40px 0px 10px 0px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
     
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

label {
    font-family: 'Open Sans', sans-serif;
    width: 100px;
    margin: 10px 0px;
}

#gravitar-profile {
    float: right;
    margin-top: 40px;
}

#gravitar-edit {
    float: right;
    clear:right;
    margin-top: 5px;
}
